.header {
    background: linear-gradient(to right, #24A3CF, #3650A0);
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 98rem;
    margin: 0 auto;
}
.title {
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3.5rem;
}
.list {
    height: 100%;
    display: flex;
    align-items: center;
}
.list-item {
    
}
.link {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2rem;
}
.link:hover,
.link:focus {
    color: #24A3CF;
}